# Server Configuration
PORT=3000
NODE_ENV=development

# Neon DB (PostgreSQL) Connection String
# Example: postgres://username:password@ep-cool-name-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgres://neondb_owner:npg_example@ep-metabolic-health-12345.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
